
#login{
  width:85%;
  height: 70%;
  position: fixed;
  top: 15%;
  left: 8%;
  text-align:center;
  margin:0 auto;
  font-size: 20px;
}

#input{
  margin-top:50px;
}

#regis{
  text-align:left;
  width:320px;
  display:inline-block;
  vertical-align:middle;
}