
#login{
  width:85%;
  height: 70%;
  position: fixed;
  text-align:center;
  margin:0 auto;
  font-size: 20px;
}

.logo{
  width: 700px;
}

.sarrera{
  line-height: 30px;
}

#input{
  margin-top:50px;
}

#regis{
  text-align:left;
  width:320px;
  display:inline-block;
  vertical-align:middle;
}