
@media only screen and (max-width : 1255px),
only screen and (max-device-width : 1255px){
  .noticia {width: 48%;}
}

@media only screen and (max-width : 1050px),
only screen and (max-device-width : 1050px){
  .texto{
  -moz-column-count:2; /* Firefox */
  -webkit-column-count:2; /* Safari and Chrome */
  column-count:2;
  }
  .category {width: 48%;}
  .noticia {width: 48%;}
}

@media only screen and (max-width : 660px),
only screen and (max-device-width : 660px){
  .texto{
  -moz-column-count:1; /* Firefox */
  -webkit-column-count:1; /* Safari and Chrome */
  column-count:1;
  }
  .title{
    font-size: 30px;
  }
  .imgY4{height: 240px}
  .y4{height: 340px}
  .category {width: 98%;font-size: 22px;}
  .noticia {width: 98%;font-size: 22px;}
  .doble{height: 350px;}
  .portada{height: 250px;border-radius:15px;
}
}