
@media only screen and (max-width : 1440px),
only screen and (max-device-width : 1440px){

  .category {width: 31.3%;}
  .noticias{width: 95%;}

  .boton{
    margin-left: 15px;
  }
  #login{
  left: 8%;
  top: 12%;
  }
  input{
  margin-right: 20px;
  }
  .texto {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  }
}

@media only screen and (max-width : 1050px),
only screen and (max-device-width : 1050px){
  .texto{
  -moz-column-count:2; /* Firefox */
  -webkit-column-count:2; /* Safari and Chrome */
  column-count:2;
  }
  .category {width: 48%;}
  .noticia {width: 46%;}
  .logo{
  width: 450px;
  }
  .boton{
    margin-left: 15px;
  }
  #login{
  left: 8%;
  top: 12%;
  }
  input{
  margin-right: 20px;
  }
  .texto {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  }
}

@media only screen and (max-width : 660px),
only screen and (max-device-width : 660px){
  .texto{
  -moz-column-count:1; /* Firefox */
  -webkit-column-count:1; /* Safari and Chrome */
  column-count:1;
  }
  .title{
    font-size: 30px;
  }
  .imgY4{height: 240px}
  .y4{height: 340px}
  .category {width: 98%;font-size: 22px;}
  .noticias{width: 100%;}
  .noticia {width: 94%;font-size: 22px;}
  .doble{height: 350px;}
  .portada{height: 250px;border-radius:15px;
}
#login{
  margin: 0 auto;
  position: relative;
  left: 0%;
  top: 2%;
  }
.logo{
  width: 280px;
}

.boton{
  width: 250px;
  margin-left: 0;
}
.sarrera{
  width: 250px;
}
input{
  margin-right: 0px;
}
html{min-height: 500px;}
#regis {font-size: 19px;}
.texto {
-moz-column-count: 1;
-webkit-column-count: 1;
column-count: 1;
}

}