
.imag{
  display:inline;
}

.category{
  float: left;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  display: inline-block;

  min-width: 300px;
  width: 31.3%;
  min-height: 310px;

  margin:10px 1%;
  color:black;
  text-align:left;
  font-size: 18px;
}

.category h1{position:absolute;top:0px;margin:5px 15px;color: white;font-size:40px;text-align:left;text-shadow:2px 5px 2px rgba(0, 0, 0, 0.3);}

.noticia{
  float: left;
  position: relative;
  vertical-align: top;
  overflow: hidden;

  min-width: 288px;
  width: 23%;
  min-height: 140px;

  margin:10px 1%;
  color:black;
  text-align:left;
  font-size: 18px;
}

.catHeaderMin{width:100%;margin:0;}
.catHeaderMin h1{padding:5px 0px;margin:0px 15px;color: white;font-size:20px;text-align:left;text-shadow:2px 5px 2px rgba(0, 0, 0, 0.3);}

.portada{
  width: 100%;
  height: 310px;
}

.title{
  margin-top:40px;
  display: none;
  font-size: 40px;
  font-weight:bold;
}

.texto{
  margin-top: 30px;
  display: none;
  width: 100%;
  height: 100%;
}

.desc{
  margin-top:10px;
}

.catHeader{width:98%;margin:0px 1%;}
.catHeader h1{padding:5px 0px;margin:5px 15px;color: white;font-size:40px;text-align:left;text-shadow:2px 5px 2px rgba(0, 0, 0, 0.3);}

.doble{height: 640px;}

.x2{width: 48%;font-size: 22px;}
.y2{height: 280px}
.y4{height: 580px}
.imgY2{height: 180px}
.imgY4{height: 480px}
