
html{
  background: rgb(238, 226, 206);
  /* Hide scrollbars */
  overflow-x:hidden;
  overflow-y:scroll;
  -webkit-overflow-scrolling:touch;
  -webkit-box-flex:1;
  width: 100%;
  height: 100%;
  /* Use full body canvas */
}

@font-face {
  font-family: 'icons';
  src: url(../entypo.ttf) format('truetype');
}

body {
  background: rgb(238, 226, 206);
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  font-family: Calibri, Verdana, Ariel, sans-serif;
  font-size: 16px;
  height: 100%;
}

section{
  width: 100%;
  height: 100%;
  text-align: center;
}

input{
  border: 2px solid #504f4f;
  font-size: 16px;
}

footer{
  position: fixed;
  bottom: 0px;
  height: 44px;
  background-color: #2b2a2b;
  border-top: 1px solid black;
  width: 100%;
  color: white;
  text-align: center;
  line-height: 44px;
}

.icon{
  margin: 0 5px 0 5px;
  font-size: 2.5em;
  font-family: 'icons';
}

footer .back{
  float: left;
}
footer .home{
  position: absolute;
  left: 32px;
  right: 32px;
  text-align: center;
  display: inline-block;

}
footer .user{
  float: right;
}

::-webkit-input-placeholder { font-style: italic; }

.boton{
  display: inline-block;
  background-color: #e20079;
  color:white;
  padding: 7px;
  border-bottom: 1px solid #b50162;
  border-right: 1px solid #b50162;
}

.boton:hover{
  font-weight: bold;
}

.gorria{ background-color: rgb(222, 0, 89); }
.berdea{ background-color: rgb(134, 162, 11); }
.horia{ background-color: rgb(250, 187, 0); }
.urdina{ background-color: rgb(0, 143, 193); }
.grisa{ background-color: rgb(244, 244, 244); }
.marroia{ background-color: rgb(194, 141, 77); }
.txuria{ background-color: rgb(255, 255, 255); }

.rounded{ border-radius: 5px;}
.bottom{position: absolute;bottom: 0px;}
.top{position: absolute;top: 0px;}
.withImg{position: absolute;bottom: 100px;}

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}
