
html{
  /* Hide scrollbars */
  overflow-x:hidden;
  overflow-y:scroll;
  -webkit-overflow-scrolling:touch;
  -webkit-box-flex:1;
  width: 100%;
  /* Use full body canvas */
}

body {
  margin: 0;
  border: 0;
  width: 100%;
  padding: 0;
  font-family: Calibri, Verdana, Ariel, sans-serif;
  font-size: 16px;
  background: white;
}

section{
  margin-top:1.5%;
  width: 100%;
  height: 100%;
}

input{
  border: 2px solid #504f4f;
  font-size: 16px;
}

footer{
  position: fixed;
  bottom: 0px;
  height: 44px;
  background-color: #2b2a2b;
  border-top: 1px solid black;
  width: 100%;
  color: white;
  vertical-align: middle;
  text-align: center;
  line-height: 44px;
}

::-webkit-input-placeholder { font-style: italic; }

.boton{
  display: inline-block;
  background-color: #e20079;
  color:white;
  padding: 7px;
  border-bottom: 1px solid #b50162;
  border-right: 1px solid #b50162;
}

.boton:hover{
  font-weight: bold;
}

.gorria{ background-color: rgb(222, 0, 89); }
.berdea{ background-color: rgb(134, 162, 11); }
.horia{ background-color: rgb(250, 187, 0); }
.urdina{ background-color: rgb(0, 143, 193); }
.grisa{ background-color: rgb(244, 244, 244); }
.marroia{ background-color: rgb(194, 141, 77); }
.txuria{ background-color: rgb(255, 255, 255); }

.rounded{ border-radius: 5px;}
.bottom{position: absolute;bottom: 0px;}
.top{position: absolute;top: 0px;}
.withImg{position: absolute;bottom: 100px;}
